


// @keyframes project-item-hover {
//   from {
//     transform: scale(.8);
//     transform: rotateX(-2em);
//     opacity: .01;
//   }
//   to {
//     transform: scale(1);
//     transform: rotateX(0);
//     opacity: 1;
//   }
// }
//
// @keyframes project-item-hover-bg {
//   from {
//     transform: scale(.5);
//     opacity: .01;
//   }
//   to {
//     transform: scale(1);
//     opacity: .9;
//   }
// }
