// Brand Colors
$brand-orange: #f37559;
$brand-red: #e83d50;
$brand-green: #36b0a7;
$brand-grey: #445c5f;
$brand-light-grey: #919b9e;

@mixin leaf-pattern-grey {
  background-image: url("../img/leaf-pattern-grey.png");
  background-size: auto 1031px;
  background-position: right center;
  @media (min-height: 1000px) {
    background-image: url("../img/leaf-pattern-grey-lg.png");
    background-size: auto 1650px;
  }
  @media (min-height: 1600px) {
    background-image: url("../img/leaf-pattern-grey-elg.png");
    background-size: auto 3299px;
  }
}

@mixin leaf-pattern-green {
  background-image: url("../img/leaf-pattern-green.png");
  background-size: auto 1031px;
  background-position: right center;
  @media (min-height: 1000px) {
    background-image: url("../img/leaf-pattern-green-lg.png");
    background-size: auto 1650px;
  }
  @media (min-height: 1600px) {
    background-image: url("../img/leaf-pattern-green-elg.png");
    background-size: auto 3299px;
  }
}


// Typography
$body-family: "raleway", Helvetica, Arial, sans-serif;
$heading-family: "europa", Helvetica, Arial, sans-serif;
$subheading-family: "raleway", Helvetica, Arial, sans-serif;
$alternative-family: "europa", Helvetica, Arial, sans-serif;
$navigation-family: "europa", Helvetica, Arial, sans-serif;
$brand-family: "semplicitapro", Helvetica, Arial, sans-serif;

// Colors
$text-color: #333;
$text-color-light: #dbe4e4;
$text-color-dark: #000;
$link-color: $brand-green;
$link-color-dark: mix(black, $link-color, 30%);
$accent-color: $brand-orange;
$accent-color2: $brand-red;

// Borders
$border-color: #dce5e5;
$border-width: 0px;

//Placeholders
@mixin loading-gradiant {
  background-color: #f6f6f6;
  background-color: linear-gradient(to right, #f6f6f6 0%, #ededed 100%);
}
