// //Page Load
// body:before {
//   content: "";
//   position: absolute;
//   top: 0; right: 0; bottom: 0; left: 0;
//   z-index: 10;
//   background: white;
// }

// @keyframes fade-in {
//   from {
//     opacity: 0;
//   }
//   to {
//     opacity: 1;
//   }
// }
//
// // body {
// //   animation: fade-in 2s .25s ease-out both;
// // }

@keyframes fade-out {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body.fade-out {
  animation: fade-out .5s ease-out both reverse;
}


//Revealer Animation
@keyframes revealer {
  from {
    transform: scale(.85);
    opacity: .001;
    transform: translateY(1rem);
  }
  to {
    transform: scale(1);
    opacity: 1;
    transform: translateY(0);
  }
}

$delay-time: .25s;
$animation-time: $delay-time*2.5;

.revealerH:not(.active) > * {
  opacity: .001 !important;
  transform: translateY(-1rem) !important;
  transition: all $animation-time ease-in;
  animation: none;
}

.revealerH.jsfallback {
  animation: none !important;
}

.revealerH.active > * {
  &:nth-child(1) {
    animation: revealer $animation-time ease-out both;
  }
  &:nth-child(2) {
    animation: revealer $animation-time $delay-time*2 ease-out both;
  }
  &:nth-child(3) {
    animation: revealer $animation-time $delay-time*3 ease-out both;
  }
  &:nth-child(4) {
    animation: revealer $animation-time $delay-time*4 ease-out both;
  }
  &:nth-child(5) {
    animation: revealer $animation-time $delay-time*5 ease-out both;
  }
  &:nth-child(6) {
    animation: revealer $animation-time $delay-time*6 ease-out both;
  }
  &:nth-child(7) {
    animation: revealer $animation-time $delay-time*7 ease-out both;
  }
  &:nth-child(8) {
    animation: revealer $animation-time $delay-time*8 ease-out both;
  }
  &:nth-child(9) {
    animation: revealer $animation-time $delay-time*9 ease-out both;
  }
  &:nth-child(10) {
    animation: revealer $animation-time $delay-time*10 ease-out both;
  }
  &:nth-child(11) {
    animation: revealer $animation-time $delay-time*11 ease-out both;
  }
  &:nth-child(12) {
    animation: revealer $animation-time $delay-time*12 ease-out both;
  }
  &:nth-child(13) {
    animation: revealer $animation-time $delay-time*13 ease-out both;
  }
  &:nth-child(14) {
    animation: revealer $animation-time $delay-time*14 ease-out both;
  }
  &:nth-child(15) {
    animation: revealer $animation-time $delay-time*15 ease-out both;
  }
  &:nth-child(16) {
    animation: revealer $animation-time $delay-time*16 ease-out both;
  }
  &:nth-child(17) {
    animation: revealer $animation-time $delay-time*17 ease-out both;
  }
  &:nth-child(18) {
    animation: revealer $animation-time $delay-time*18 ease-out both;
  }
  &:nth-child(19) {
    animation: revealer $animation-time $delay-time*19 ease-out both;
  }
  &:nth-child(20) {
    animation: revealer $animation-time $delay-time*20 ease-out both;
  }
}
