#scroll-to-view {
  margin-right: 10vw;

  $size: 2em;
  $tickness: 5px;
  $color: $accent-color;
  $border-size: ($size/$size)*1.2em;
  button.scrl-2-v {
    display: inline-block;
    padding: 0;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .scrl-2-v {
    white-space: nowrap;
    overflow: hidden;
    text-indent: -9999px;
    font-size: 1rem;
    box-sizing: content-box;
    width: $size;
    height: $size * 1.75;
    background: none;
    border: $tickness solid $color;
    border-radius: $border-size;
    position: relative;
  }
  .scrl-2-v:before {
    content: "";
    position: absolute;
    left: calc(50% - (#{$tickness}/2)); top: $tickness;
    border: $tickness/2 solid $color;
    border-radius: $border-size;
    background: $color;
    width: 0;
    height: 20%;
    animation: scroll-move 2s ease infinite, scroll-size 1s ease infinite;
  }
  @keyframes scroll-move{
    0% {top: $tickness; transform-origin: top;}

    66% {top: $size/2.5; transform-origin: bottom;}
  }
  @keyframes scroll-size{
     // 50% {transform: scaleY(1);}
     // 0%, 100% {transform: scaleY(.75);}
  }

  .left-arrow {
    display: inline-block;
    position: relative;
    width: $size;
    height: $size * 1.75;
    animation: arrow-move 2s ease infinite;

    &:before{
      content:"";
      position: absolute;
      top: 50%; left: 50%;
      width: 0px; height: $size/2;
      border-left: $tickness/2 solid $brand-light-grey;
      transform: translateY(50%) rotate(-45deg);
      transform-origin: 100% 100%;
    }

    &:after{
      content:"";
      position: absolute;
      top: 50%; left: 50%;
      width: 0px; height: $size/2;
      border-left: $tickness/2 solid $brand-light-grey;
      transform: translateY(150%) rotate(45deg);
      transform-origin: 100% 0;
    }

    @keyframes arrow-move {
      0% {transform: translateX(0); opacity: 0;}
      40% {opacity: 1;}
      80%, 100% {transform: translateX(.4em); opacity: 0;}
    }
  }
}
