/*FlexGrid
http://godban.github.io/flex-box-grid*/
@import "../flexboxgrid/_index.scss";

body {
  @media (min-width: $screen--M) {
    font-size: 100%;
  }

  @media (min-width: $screen--L) {
    font-size: 112.5%;
  }

  @media (min-width: $screen--XL * 2) {
    font-size: 125%;
  }
}
