.site-nav-wpr {
  background-color: white;
  position: fixed;
  top: 0; left: 0;
  z-index: 1;
  min-width: 20vw;
  max-width: 20vw;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  box-shadow: inset -5px 0px 20px -10px rgba(0,0,0,.2);
  transition: transform .6s;
  &:not(.active) {
    transform: translateX(-100%);
    visibility: hidden;
  }
}

.site-nav-wpr:before {
  content: "";
  flex: auto;
  height: 100%;
  @include leaf-pattern-grey;
}

.side-nav {
  padding: 0 1em 0 0;
  height: 94%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;

  .site-branding {
    writing-mode: vertical-rl;
    margin: 0 auto 1em auto;
    img {
      width: .8em;
    }
  }

  .menu {
    li {
      writing-mode: vertical-rl;
      margin: auto;
      text-transform: uppercase;
    }
    a {
      color: $accent-color2;
    }
  }

  .network {
    margin: 1em auto 0 auto;
  }
}


.site-branding {
  text-align: center;
}

nav {
  font-family: $navigation-family;
  ul {
    padding: .5em 0;
    text-align: center;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      display: block;
      a {
          display: block;
          padding: .5em .75em .4em .75em;
      }
    }
  }
}
