body {
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  top: 0; left: 0; bottom: 0;
  margin: 0;
  scroll-behavior: smooth;
  >* {
    height: 100%; min-height: 100%; max-height: 100%;
    flex: none;
    margin: 0;
  }
  &.nav-active {
    margin-left: 20vw;
  }
}

.site-header {
  min-width: 100vw;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &:before {
    content: "";
    height: 100%;
    margin-right: 3em;
    @include leaf-pattern-green;
    flex: auto;
  }

  #greeting {
    flex: auto;
    max-width: 75%;
    color: $brand-grey;
    img {
      width: 15em;
      margin-bottom: 6em;
    }
    spam {
      display: block;
      color: $accent-color;
    }
    h1 {
      margin-bottom: 0;
    }
  }


  &.inactive {
    min-width: 0;
    max-width: 0;
    width: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    & > * {
      opacity: 0;
      transform: translateY(-1rem);
      transition: all .9s  ease-in;
    }

    &:before {
      opacity: 0;
      transform: translateX(-5rem);
      transition: all .9s  ease-in;
    }
  }
}

.site-main {
  display: flex;
}

.site-footer {
  width: 80vw;
  height: 100%;
  margin-left: 6em;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  &:after {
    content: "";
    height: 100%;
    @include leaf-pattern-green;
    background-position: left;
    flex: auto;
  }

  #about-me {
    flex: auto;
    .container {
      margin: auto;
      max-width: 35em;
      padding: 0 3em;
      position: relative;
    }
    img {
      width: 15em;
      border-radius: 50%;
    }
    h1 {
      color: $accent-color;
    }
  }
}


$thumbnail-width: 24.75vw;
#projects {
  height: 100%;
  width: calc(#{$thumbnail-width}*5 + 10em;);
  display: flex;
  flex-direction: row;
}

#projects-grid {
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  height: 94%;
  width: 100%;
  .project-item {
    width: $thumbnail-width; height: calc((100% - 4em)/3);
    margin: 1em;
    &:nth-child(3n + 1) {
      margin-top: 0;
    }
    &:nth-child(3n) {
      margin-bottom: 0;
    }
    flex: 1 1 auto;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    overflow: hidden;
    background-position: center center;
    transition: .3s ease;
    article {
      height: 100%; width: 100%;
      flex: none;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .project-info {
        width: 50%;
        padding: 1.5em;
        box-sizing: border-box;
        * {
          color: white;
        }

        .header {
          margin-top: 0;
          animation: project-info-out .3s ease-out both;

        }
        .subheader {
          animation: project-info-out .3s ease-out both;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: -10px; left: 0; right: -10px; bottom: -10px;
        background-color: $link-color;
        transform: translateX(100%);
        transition: .3s ease;
      }
    }

    &:hover,&:focus {
      background-position: center left -100px;
      background-origin: border-box;
      transform: scale(1.05);
      article:before {
        transform: translateX(50%);
      }
      .project-info {
        transform: scale(calc(1/1.05));
      }
      .project-info .header {
        animation: project-info-in .4s ease-out both;
      }
      .project-info .subheader {
        animation: project-info-in .4s ease-out .2s both;
      }
    }
  }
}

@keyframes project-info-in {
  0% {
    transform: scale(.8) translateX(100%);
    opacity: .001;
  }
  75% {
    transform: scale(calc(1/1.05)) translateX(-.75em);
    opacity: 1;
  }
  100% {
    transform: scale(calc(1/1.05)) translateX(0);
    opacity: 1;
  }
}

@keyframes project-info-out {
  0% {
    transform: scale(0.9523809523809524) translateX(0);
    opacity: 1;
  }
  100% {
    transform: scale(.8) translateX(100%);
    opacity: .001;
  }
}
