body {
  font-family: $body-family;
  color: $text-color;
  font-size: 87.5%;
  line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  text-transform: uppercase;
  font-family: $heading-family;
  margin: 1.25em 0 .5em;
}

h1, .h1 {
  font-size: 3em;
  line-height: 1em;
}

h2, .h2 {
  font-size: 2.25em;
  line-height: 1.1em;
}

h3, .h3 {
  font-size: 1.5em;
  line-height: 1.2em;
}

h4, .h4 {
  font-size: 1.3125em;
  line-height: 1.3em;
}

h5, .h5 {
  font-size: 1.125em;
  line-height: 1.4em;
}

h6, .h6 {
  font-size: 1em;
  line-height: 1.5em;
}

p {
  margin: 0 0 .5em 0;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:hover {
  color: $link-color-dark;
  // text-decoration: underline;
}

ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  padding-bottom: 1em;
}

ul li ul, ul li ol, ol li ul, ol li ol {
  margin: 0;
  padding-bottom: 0;
}

li {
  margin-left: 1.875em;
}

blockquote {
  font-family: $alternative-family;
  font-size: 1.142em;
  margin: 1.5em 0;
  padding: 1.5em;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

blockquote cite {
  display: block;
  opacity: .8;
  font-size: .875em;
}

blockquote cite:before {
  content: '\2014';
  margin-right: .25em;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}


.oversize {
  font-size: 150%;
  line-height: 107.5%;
}


.oversize-l {
  font-size: 200%;
  line-height: 110%;
}


.oversize-xl {
  font-size: 250%;
  line-height: 112.5%;
}

.oversize-xxl {
  font-size: 300%;
  line-height: 115%;
}

.f-thin {
  font-weight: 100;
}

.f-light {
  font-weight: 300;
}

.f-normal {
  font-weight: 500
}

.f-bold {
  font-weight: 700;
}

.f-italic {
  font-style: italic;
}

.subheader {
  font-family: $subheading-family;
  color: lighten($text-color, 20%);
  margin-top: .5em;
  font-style: italic;
  font-weight: normal;
  clear: both;
}

pre, code {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-size: .875em;
}

pre {
  margin: 1.5em 0 3em 0;
  line-height: 1.2em;
}

code {
  display: block;
  padding: 1em 1.875em;
  background: #f9f9f9;
  border: 1px solid $border-color;
  border-left: 2px solid $border-color;
  overflow-x: auto;
}
